<html>
    <head>
        <title>YESSS!! AT PAST FIRST PAGE</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Everything will be in summer - Baary jainda bolot (form Kyrgyz - All will be Ok) </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Kudai je Kuda. Kim bilet?? God or Stepfarher - who know?.</p>
        </div>
    </body>
</html>
